/***** base styles *****/

html {
    font-size: 16px;
}
body {
    font-family: 'montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

/***** utilities *****/


/****** grid ******/

.container {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/***** header *****/

header {
    width: 100%;
    border-bottom: 3px solid #77a466;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

header h1 {
    color: #000000;
    font-family: 'montserrat', sans-serif;
    font-size: 1.875em;
    font-weight: 700;
    line-height: 1.4375em;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    padding: 38px 20px 20px 20px;
    border-bottom: 3px solid #77a466;
}
header h1 span {
    color:#77a466;
}

header nav {
    padding: 20px 0;
    width: 100%;
}

header nav ul {
    margin: 0;
    padding: 0;
}
header nav ul li {
    font-family: 'montserrat', sans-serif;
    font-size: .875em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
    list-style: none;
}
header nav ul li a {
    color: #77a466;
    text-decoration: none;
}

/***** top-section *****/

.top-section,
.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.main-image img {
    width: 100%;
    border-bottom: 3px solid #77a466;
} 
.main-title h3 {
    color: #77a466;
    font-family: 'montserrat', sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 0;
}
.main title p {
    color: black;
    font-family: 'montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
    padding: 0;
}

/***** bottom-section *****/

.section-one,
.section-two,
.section-three {
    border-top: 1px solid #eeeeee;
    width: 100%;

}
.section-one h4,
.section-two h4,
.section-three h4 {
    color: #000000;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.menu {
   list-style: none;
   padding: 0;
}
.menu li {
    color: #77a466;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    padding: 10px 0;
}
.reviews {
    color: #000000;
    font-family: 'montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;

}
 .address {
    color: #000000;
    font-family: 'montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.3125em;
}

/***** footer *****/

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
footer h4 {
    border-top: 1px solid #eeeeee;
    color: #000000;
    font-family: 'montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.4375em;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0;
}
footer h4 span {
    color: #77a466;
    font-family: 'galada', serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4375em;
    text-transform: none;
}